Hello from personae.evilpaws.org,

Someone (hopefully you) created a new account or requested a password reset.

Either way, click the link below to set the password for your account.

<%= @rodauth.reset_password_email_link %>


(If you have no idea what this is about, please just forget you ever
received this email. Thanks.)
