<template>
  <div
    :class="className"
    class="alert w-full relative"
    >
    <button
      v-if="dismissible"
      @click="$emit('dismiss')"
      class="btn btn-circle btn-xs btn-ghost absolute right-2 top-2"
    >
      <FontAwesomeIcon icon="fa-solid fa-xmark" />
    </button>

    <FontAwesomeIcon :icon="icon" />
    <slot></slot>
  </div>
</template>

<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"

const props = defineProps({
  dismissible: {
    type: Boolean,
    default: true
  },
  severity: {
    // ["notice", "alert"]
    type: String,
    default: "notice"
  }
})

defineEmits(["dismiss"])

const className = getClassName(props.severity)
const icon = getIcon(props.severity)

function getClassName(severity) {
  if (severity === "notice") {
    return "alert-info"
  } else {
    return "alert-error"
  }
}

function getIcon(severity) {
  if (severity === "notice") {
    return "fa-solid fa-circle-info"
  } else {
    return "fa-solid fa-triangle-exclamation"
  }
}
</script>

<style scoped>

</style>
