<template>
  <div class="drawer">
    <input
      id="filter-drawer-toggle"
      type="checkbox"
      class="drawer-toggle"
    >
    <div class="drawer-content">
      <label
        for="filter-drawer-toggle"
        class="drawer-overlay"
      />
      <div class="w-full mx-auto lg:w-full lg:container md:w-11/12">
        <NavBar />

        <FlashMessages />

        <LoadingAnimation v-if="isLoading" />

        <template v-else>
          <AlertBar
            v-if="isZero(characters.totalCharacters)"
            id="alert-zero-items"
            severity="notice"
            class="mb-6"
          >
            {{ zeroItemsMessage() }}
          </AlertBar>

          <CharacterList v-else />

          <div class="flex flex-none flex-col gap-4 md:gap-0 md:flex-row-reverse md:justify-between">
            <div>
              <a
                class="btn btn-sm xl:btn-md btn-accent"
                href="/characters/new"
              >
                Add a New Character
              </a>
            </div>

            <PaginateNav
              v-if="isPositive(characters.totalCharacters)"
              v-model="characters.currentPage"
              :total-items="characters.totalCharacters"
              :items-per-page="characters.perPage"
            />
          </div>
        </template>
      </div>
    </div>

    <CharacterFilter />
  </div>
</template>

<script setup>
import AlertBar from "@/components/AlertBar.vue"
import CharacterFilter from "@/components/CharacterFilter.vue"
import CharacterList from "@/components/CharacterList.vue"
import CharactersApi from "@/api/CharactersApi"
import FlashMessages from "@/components/FlashMessages.vue"
import LoadingAnimation from "@/components/LoadingAnimation.vue"
import NavBar from "@/components/NavBar.vue"
import PaginateNav from "@/components/PaginateNav.vue"
import { computed, provide, ref, watchEffect } from "vue"
import { isEmpty, isPositive, isPresent, isZero } from "@/lib/utils"
import { useCharactersStore } from "@/stores/characters"
import { useFilterStore } from "@/stores/filter"
import { useFlashStore } from "@/stores/flash"

const characters = useCharactersStore()
const filter = useFilterStore()
const flash = useFlashStore()

// read data attributes from #app
const app = document.querySelector("#app")
const query = ref(app.dataset.query || "")
const userEmail = ref(app.dataset.userEmail)
const isAdmin = ref(app.dataset.userAdmin === "true")

if (isPresent(app.dataset.flashAlert)) {
  flash.addMessage(app.dataset.flashAlert, "alert", false)
}

if (isPresent(app.dataset.flashNotice)) {
  flash.addMessage(app.dataset.flashNotice, "notice", true)
}

// computed properties
const isSignedIn = computed(() => isPresent(userEmail.value))

// initialize state of Loading component
const isLoading = ref(true)

// update characters when query changes
watchEffect(() => updateCharacterListFromQuery(query.value))

// provide data to downstream components
provide("query", query)
provide("userEmail", userEmail)
provide("isAdmin", isAdmin)
provide("isSignedIn", isSignedIn)

function updateCharacterListFromQuery(query) {
  setCharactersFromApi(query)
    .catch((err) => console.error(err))
}

async function setCharactersFromApi(query) {
  // toggle Loading component on
  isLoading.value = true

  if (isEmpty(query)) {
    characters.characterList = await CharactersApi.list()
  } else {
    characters.characterList = await CharactersApi.search({q: query})
  }

  // toggle Loading component off
  isLoading.value = false
}

function zeroItemsMessage() {
  if (isEmpty(query.value)) {
    if (filter.isFilterSet) {
      // no query, filter set
      return "Sorry, the filter doesn't match any characters."
    } else {
      // no query, no filter
      return "Sorry, something is wrong with the API. Please message gyrf on Slack."
    }
  } else {
    if (filter.isFilterSet) {
      // query set, filter set
      return "Sorry, the filter doesn't match any characters in the search results."
    } else {
      // query set, no filter
      return `Sorry, no results were found matching "${query.value}".`
    }
  }
}
</script>

<style>
.drawer {
  & .drawer-content {
    @apply grid grid-cols-1 grid-rows-1 items-start justify-items-start;
    width: calc(100% + 18rem);
    transform: translateX(-18rem);
    transition: transform 0.4s cubic-bezier(0, 0, 0.58, 1),
                width 0.4s cubic-bezier(0, 0, 0.58, 1);

    & .drawer-overlay {
      @apply cursor-pointer bg-transparent;
      transition: background-color 0.2s cubic-bezier(0, 0, 0.58, 1);
    }

    & > * {
      @apply col-start-1 row-start-1;
    }
  }

  & .drawer-side {
    @apply static w-full;
    transform: translateX(-18rem);
    transition: transform 0.4s cubic-bezier(0, 0, 0.58, 1);

    & > *:not(&.drawer-overlay) {
      transform: translateX(0);
    }
  }

  & .drawer-toggle:checked {
    & ~ .drawer-content > .drawer-overlay {
      @apply place-self-stretch sticky top-0 z-50;
      background-color: hsl(0 0% 0%/0.4);
    }

    & ~ .drawer-content {
      transform: translateX(0);
    }

    & ~ .drawer-side {
      @apply sticky;
      transform: translateX(0);
    }
  }
}
</style>
