<template>
  <div class="card bg-base-300 shadow-xl max-w-prose mx-auto">
    <div class="card-body">
      <template
        v-for="attribute of config.detailAttributes"
        :key="attribute"
      >
        <p v-if="isPresent(character[attribute])">
          <strong>
            {{ startCase(attribute) }}:
          </strong>
          {{ character[attribute] }}
        </p>
      </template>

      <template
        v-for="attribute of config.richTextAttributes"
        :key="attribute"
      >
        <template v-if="isPresent(character[attribute])">
          <div class="mt-3 w-full border-b border-current">
            <p>
              {{ startCase(attribute) }}
            </p>
          </div>

          <div class="prose">
            {{ character[attribute] }}
          </div>
        </template>
      </template>

      <div class="card-action justify-end mt-3">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</template>

<script setup>
import CharactersApi from "@/api/CharactersApi"
import config from "@/lib/config"
import { isPresent } from "@/lib/utils"
import { ref } from "vue"
import { startCase } from "lodash"

const props = defineProps(["id"])

const isLoading = ref(true)
const character = getCharacterFromApi(props.id)

async function getCharacterFromApi(id) {
  isLoading.value = true
  const character = await CharactersApi.get({ id: id })
  isLoading.value = false

  return character
}
</script>

<style scoped>

</style>
