<template>
  <div class="drawer-side">
    <div class="p-8 w-72 h-full bg-base-200 text-base-content overflow-y-auto z-20">
      <button
        v-if="filter.isFilterSet"
        class="btn btn-sm btn-accent btn-block mb-6"
        @click="filter.resetFilter"
      >
        Clear Filter
      </button>

      <ul
        v-for="[attribute, values] in characterAttributeMap"
        :key="attribute"
        class="menu p-0"
      >
        <li class="menu-title text-base-content inline-flex flex-shrink-0 flex-wrap items-center justify-center text-center w-full py-1 mb-2 border-t-2 border-b-2 border-primary text-sm uppercase font-bold">
          {{ attribute }}
        </li>
        <li
          v-for="value in values"
          :key="value"
          class="form-control p-0"
        >
          <label
            :for="attribute.name + '_' + value"
            class="label cursor-pointer justify-start gap-2 py-1 px-2 -mx-2"
          >
            <input
              :id="attribute.name + '_' + value"
              v-model="filter.attributes[attribute]"
              type="checkbox"
              :value="value"
              class="checkbox checkbox-xs"
              @change="resetCurrentPage"
            >
            <span
              :class="{ 'opacity-60': !isValueInAttributeMap(value, attribute, filteredAttributeMap) }"
              class="label-text text-sm"
            >
              {{ value }}
            </span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup>
import config from "@/lib/config"
import { computed } from "vue"
import { unique, isPresent, isEmpty } from "@/lib/utils"
import { useCharactersStore } from "@/stores/characters"
import { useFilterStore } from "@/stores/filter"

const characters = useCharactersStore()
const filter = useFilterStore()

const resetCurrentPage = () => {
  characters.currentPage = 1
}

const characterAttributeMap = computed(() => attributeMap(characters.characterList))
const filteredAttributeMap = computed(() => attributeMap(characters.filteredCharacters))

// sorted unique, non-null, non-empty values of (attributes of filterAttributes) in characters
function attributeMap(characterList) {
  const result = new Map()

  for (const attribute of config.filterAttributes) {
    result.set(attribute, unique(characterList.map((character) => character[attribute])).filter(isPresent).sort())
  }

  return result
}

function isValueInAttributeMap(value, attribute, attributeMap) {
  const values = attributeMap.get(attribute)
  return (isEmpty(values) || values.includes(value))
}
</script>

<style scoped>
ul {
  @apply pb-6;
}

ul:last-child {
  @apply pb-0;
}
</style>
