<template>
  <div class="overflow-x-auto">
    <table class="w-full mb-4 table table-sm xl:table-md table-zebra xl:mb-6">
      <thead class="uppercase">
        <tr>
          <th
            v-for="attribute of config.listAttributes"
            :key="attribute"
            class="text-secondary select-none cursor-pointer hover:text-secondary-focus hover:bg-base-200/20"
            @click="sortByAttribute(attribute)"
          >
            {{ startCase(attribute) }}
            <span class="text-base text-accent">
              <FontAwesomeIcon
                v-if="sortBy === attribute"
                :icon="sortIcon"
                fixed-width
              />
              <span
                v-else
                class="inline-block w-[1.25em]"
              />
            </span>
          </th>

          <th>
          <!-- edit button -->
          </th>
        </tr>
      </thead>

      <tbody>
        <CharacterItem
          v-for="character in characters.pagedCharacters"
          :key="character.id"
          :character="character"
        />
      </tbody>
    </table>
  </div>
</template>

<script setup>
import CharacterItem from "@/components/CharacterItem.vue"
import config from "@/lib/config"
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"
import { isBlank } from "@/lib/utils"
import { ref } from "vue"
import { startCase } from "lodash"
import { useCharactersStore } from "@/stores/characters"

const characters = useCharactersStore()

const sortBy = ref("id")
const isSortAscending = ref(true)
const sortIcon = ref("fa-solid fa-arrow-down-a-z")

function sortByAttribute(attribute) {
  if (sortBy.value === attribute) {
    // already sorted by this attribute, so invert sort
    isSortAscending.value = !(isSortAscending.value)
  } else {
    sortBy.value = attribute
    isSortAscending.value = true
  }

  if (isSortAscending.value) {
    sortIcon.value = "fa-solid fa-arrow-down-a-z"
    characters.sortCharacterList(compareAsc(attribute))
  } else {
    sortIcon.value = "fa-solid fa-arrow-down-z-a"
    characters.sortCharacterList(compareDesc(attribute))
  }
}

// ugly hacks exploiting implicit type conversion from boolean to integer. yuck.
function compareAsc(attribute) {
  return ((a, b) => isBlank(a[attribute]) - isBlank(b[attribute]) || +(a[attribute] > b[attribute]) || -(a[attribute] < b[attribute]))
}

function compareDesc(attribute) {
  return ((a, b) => isBlank(a[attribute]) - isBlank(b[attribute]) || -(a[attribute] > b[attribute]) || +(a[attribute] < b[attribute]))
}
</script>

<style scoped>

</style>
