<template>
  <tr class="hover">
    <td
      v-for="attribute of config.listAttributes"
      :key="attribute"
      class="!p-0"
    >
      <a
        :href="'/characters/' + character.id"
        class="inline-block w-full h-full px-3 py-2 xl:px-4 xl:py-3"
      >
        {{ character[attribute] }}
      </a>
    </td>

    <td>
      <a
        :href="'/characters/' + character.id + '/edit'"
        class="btn btn-sm btn-secondary"
      >
        Edit
      </a>
    </td>
  </tr>
</template>

<script setup>
import config from "@/lib/config"

defineProps(["character"])
</script>

<style scoped>

</style>
