<template>
  <Alert
    v-for="[id, message] in flash.messages"
    :key="id"
    :severity="message.severity"
    :dismissible="message.isDismissible"
    @dismiss="flash.removeMessage(id)"
    class="mb-6"
  >
    {{ message.text }}
  </Alert>
</template>

<script setup>
import Alert from "@/components/AlertBar.vue"
import { useFlashStore } from "@/stores/flash"

const flash = useFlashStore()
</script>

<style scoped>

</style>
