<template>
  <div class="navbar bg-primary text-primary-content mb-4 lg:mb-6">
    <div class="lg:hidden">
      <details
        id="hamburger-menu-dropdown"
        class="dropdown"
      >
        <summary class="btn btn-ghost normal-case">
          <FontAwesomeIcon icon="fa-solid fa-bars" />
        </summary>

        <ul class="dropdown-content menu mt-3 p-2 shadow bg-primary rounded-box z-10 whitespace-nowrap">
          <li>
            <a href="/">
              Home
            </a>
          </li>

          <li>
            <button type="button">
              <label
                for="filter-drawer-toggle"
                class="drawer-button"
                @click="hideHamburgerMenuDropdown"
              >
                Filter
              </label>
            </button>
          </li>

          <li>
            <SearchField />
          </li>

          <li>
            <a
              href="https://rae.evilpaws.org/"
              rel="nofollow"
              @click.prevent="confirm('Ready to leave?', 'https://rae.evilpaws.org/')"
            >
              rae.evilpaws.org
              <FontAwesomeIcon icon="fa-solid fa-external-link-alt" />
            </a>
          </li>
        </ul>
      </details>
    </div>

    <div>
      <span class="btn btn-ghost normal-case text-lg">
        <a
          class="whitespace-nowrap"
          href="/"
        >
          <FontAwesomeIcon icon="fa-solid fa-masks-theater" />
          Dramatis Personae
        </a>
      </span>
    </div>

    <div class="hidden lg:flex">
      <button type="button">
        <label
          for="filter-drawer-toggle"
          class="drawer-button btn btn-ghost normal-case"
        >
          Filter
        </label>
      </button>
    </div>

    <div class="flex grow justify-end">
      <SearchField class="hidden lg:flex lg:pr-4" />

      <div class="hidden lg:flex">
        <a
          href="https://rae.evilpaws.org/"
          rel="nofollow"
          class="btn btn-ghost normal-case"
          @click.prevent="confirm('Ready to leave?', 'https://rae.evilpaws.org/')"
        >
          <span class="text-primary-content lg:hidden xl:inline">
            rae.evilpaws.org
          </span>
          <FontAwesomeIcon icon="fa-solid fa-external-link-alt" />
        </a>
      </div>

      <UserMenu />
    </div>
  </div>
</template>

<script setup>
import SearchField from "@/components/SearchField.vue"
import UserMenu from "@/components/UserMenu.vue"
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"
import { confirm } from "@/lib/utils"

function hideHamburgerMenuDropdown() {
  document.querySelector("#hamburger-menu-dropdown").open = false
}
</script>

<style scoped>

</style>
