<template>
  <VueAwesomePaginate
    v-model="value"
    :total-items="totalItems"
    :items-per-page="itemsPerPage"
    :max-pages-shown="5"
    :show-ending-number-buttons="false"
    :show-breakpoint-buttons="true"
    :disable-breakpoint-buttons="true"
    :show-ending-buttons="true"
    :hide-prev-next-when-ends="true"
    first-page-content="&laquo;"
    prev-button-content="&lsaquo;"
    starting-breakpoint-content="&hellip;"
    ending-breakpoint-content="&hellip;"
    next-button-content="&rsaquo;"
    last-page-content="&raquo;"
    paginate-buttons-class="btn btn-neutral btn-sm xl:btn-md join-item w-12"
    active-page-class="btn-active"
    pagination-container-class="join"
    starting-breakpoint-button-class="!border-opacity-100 !bg-neutral !bg-opacity-100 !text-neutral-content !text-opacity-100"
    ending-breakpoint-button-class="!border-opacity-100 !bg-neutral !bg-opacity-100 !text-neutral-content !text-opacity-100"
  />
</template>

<script setup>
import VueAwesomePaginate from "@/components/VueAwesomePaginate.vue"
import { computed } from "vue"

const props = defineProps({
  modelValue: {
    type: Number,
    required: true
  },
  totalItems: {
    type: Number,
    required: true
  },
  itemsPerPage: {
    type: Number,
    default: 10
  }
})

const emit = defineEmits(["update:modelValue"])

const value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit("update:modelValue", value)
  }
})
</script>

<style scoped>

</style>
