<template>
  <div class="join gap-0">
    <input
      v-model.lazy.trim="query"
      class="input input-sm w-40 lg:w-48 rounded-l join-item text-base-content"
      placeholder="Search"
      type="search"
      @change="reset"
    >
    <button class="btn btn-sm btn-neutral rounded-r join-item">
      <FontAwesomeIcon icon="fa-solid fa-search" />
    </button>
  </div>
</template>

<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"
import { inject } from "vue"
import { useCharactersStore} from "~/stores/characters"
import { useFilterStore } from "@/stores/filter"

const characters = useCharactersStore()
const filter = useFilterStore()
const query = inject("query")

function reset() {
  filter.resetFilter()
  characters.currentPage = 1
}
</script>

<style scoped>

</style>
