<template>
  <div>
    <details
      id="user-menu-dropdown"
      class="dropdown dropdown-bottom dropdown-end"
    >
      <summary
        :class="{ 'swap-active': isSignedIn }"
        class="btn btn-ghost swap"
      >
        <FontAwesomeIcon
          icon="fa-solid fa-circle-user"
          class="swap-on"
        />
        <FontAwesomeIcon
          icon="fa-regular fa-circle-user"
          class="swap-off"
        />
      </summary>

      <ul class="dropdown-content menu mt-3 p-2 shadow bg-primary rounded-box z-10 whitespace-nowrap">
        <template v-if="isSignedIn">
          <li class="menu-title text-primary-content/75 whitespace-nowrap">
            {{ userEmail }}
          </li>

          <li v-if="isAdmin">
            <a class="whitespace-nowrap" href="/admin">
              Dashboard
            </a>
          </li>

          <li>
            <a class="whitespace-nowrap" href="/change-password">
              Change Password
            </a>
          </li>

          <li>
            <button
              type="button"
              class="whitespace-nowrap"
              @click="signOut"
            >
              Sign Out
            </button>
          </li>
        </template>

        <template v-else>
          <li>
            <a class="whitespace-nowrap" href="/login">
              Sign In
            </a>
          </li>
        </template>
      </ul>
    </details>
  </div>
</template>

<script setup>
import RodauthApi from "@/api/RodauthApi"
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"
import { inject } from "vue"
import { useFlashStore } from "@/stores/flash"

const flash = useFlashStore()

const userEmail = inject("userEmail")
const isAdmin = inject("isAdmin")
const isSignedIn = inject("isSignedIn")

async function signOut() {
  if (window.confirm("Are you sure?")) {
    try {
      const response = await RodauthApi.logout({responseAs: "response"})
      hideUserDropdown()

      if (response.status === 200) {
        userEmail.value = null
        flash.addMessage("You have been signed out.", "notice", true)
      } else {
        flash.addMessage("There was a problem signing you out.", "alert", false)
      }
    } catch (err) {
      console.error(err)
    }
  }
}

function hideUserDropdown() {
  closeDetails("#user-menu-dropdown")
}

function closeDetails(selector) {
  document.querySelector(selector).open = false
}
</script>

<style scoped>

</style>
