#clearance.sign-up.mx-auto.w-full
  %h1.text-2xl.pb-3= t(".title")
  = form_for @user do |form|
    = render partial: '/users/form', object: form
    .form-control
      = form.submit(t("helpers.submit.user.create"), class: 'btn w-full my-6')
    .other-links
      = link_to t(".sign_in"), sign_in_path
