- if notice
  %input.alert-toggle#alert-notice{type: 'checkbox', checked: true}
  .alert.alert-info.mb-6.w-full.relative
    %label.btn.btn-circle.btn-xs.btn-ghost.absolute.right-2.top-2{for: 'alert-notice'}
      %i.fas.fa-xmark
    %i.fas.fa-circle-info
    = notice
- if alert
  .alert.alert-open.alert-error.mb-6.mx-auto.w-full.relative
    %i.fas.fa-triangle-exclamation
    = alert
