%meta{name: "theme-color", content: "#ffffff"}
%link{rel: "icon", href: asset_path("theater-masks-solid.svg")}
%link{rel: "mask-icon", href: asset_path("theater-masks-solid.svg"), color: "#6e0b75"}
%link{rel: "apple-touch-icon", href: asset_path("apple-touch-icon.png")}
%link{rel: "manifest", href: asset_path("manifest.json")}
