.navbar.bg-primary.text-primary-content.mb-4.lg:mb-6
  -# hamburger menu
  .lg:hidden
    %details.dropdown
      %summary.btn.btn-ghost.normal-case
        %i.fas.fa-bars
      %ul.dropdown-content.menu.mt-3.p-2.shadow.bg-primary.rounded-box.z-10.whitespace-nowrap

        %li
          %a{href: root_path}
            Home
        %li
          = form_with(url: search_path, method: :get) do |f|
            .join.gap-0
              = f.text_field(:q, { placeholder: "Search", value: params[:q], class: "input input-sm w-40 rounded-l join-item text-base-content" })
              %button.btn.btn-sm.btn-neutral.rounded-r.join-item{type: "submit"}
                %i.fas.fa-search
        %li
          %a{href: "https://rae.evilpaws.org/", rel: "nofollow", data: { confirm: "Ready to leave?" }}
            rae.evilpaws.org
            %i.fas.fa-external-link-alt

  %div
    %span.btn.btn-ghost.normal-case.text-lg
      %a.whitespace-nowrap{href: root_path}
        %i.fas.fa-masks-theater
        Dramatis Personae

  .flex.grow.justify-end
    .hidden.lg:flex.lg:pr-4
      = form_with(url: search_path, method: :get) do |f|
        .join.gap-0
          = f.text_field(:q, { placeholder: "Search", value: params[:q], class: "input input-sm w-40 lg:w-48 rounded-l join-item text-base-content" })
          %button.btn.btn-sm.btn-neutral.rounded-r.join-item{type: "submit"}
            %i.fas.fa-search

    %div.hidden.lg:flex
      %a.btn.btn-ghost.normal-case{href: "https://rae.evilpaws.org/", rel: "nofollow", data: { confirm: "Ready to leave?" }}
        %span.text-primary-content.lg:hidden.xl:inline
          rae.evilpaws.org
        %i.fas.fa-external-link-alt

    %div
      = render(partial: 'shared/user_menu')
