%details#user-menu-dropdown.dropdown.dropdown-bottom.dropdown-end
  %summary.btn.btn-ghost.swap{class: ("swap-active" if rodauth.logged_in?)}
    %i.fas.fa-circle-user.swap-on
    %i.far.fa-circle-user.swap-off

  %ul.dropdown-content.menu.mt-3.p-2.shadow.bg-primary.rounded-box.z-10.whitespace-nowrap
    -if rodauth.logged_in?
      %li.menu-title{class: "text-primary-content/75"}
        = current_account.email

      -if current_account.admin?
        %li
          %a.whitespace-nowrap{href: admin_root_path}
            Dashboard

      %li
        %a.whitespace-nowrap{href: rodauth.change_password_path}
          Change Password

      %li
        = button_to("Sign Out", rodauth.logout_path, { method: :post, form_class: "p-0 flex", class: "block w-full select-none px-4 py-2 text-left", data: { confirm: "Are you sure?" } })

    - else
      %li
        %a.whitespace-nowrap{href: rodauth.login_path}
          Sign In
