= form_for @character, { html: { autocomplete: "off" } } do |f|
  - if @character.errors.any?
    %div.alert.alert-error.mb-6#error_explanation
      = "#{pluralize(@character.errors.count, 'error')} prohibited this character from being saved:"
      %ul.mb-0
        - @character.errors.full_messages.each do |message|
          %li= message

  .form-control
    = f.label :player, class: "label label-text text-secondary"
    = f.text_field :player, list: "player", class: "input input-sm input-bordered"
    %datalist#player
      = options_for_select(options_for_datalist(:player))

  - %i[fae_name mortal_name].each do |field|
    .form-control
      = f.label field, field.to_s.titlecase, class: "label label-text text-secondary"
      = f.text_field field, class: "input input-sm input-bordered"

  - %i[kith house bannerhouse seeming rank location position].each do |field|
    .form-control
      = f.label field, class: "label label-text text-secondary"
      = f.text_field field, list: field, class: "input input-sm input-bordered"
      %datalist{id: field}
        = options_for_select(options_for_datalist(field))

  .form-control.mt-3
    = f.label :description, class: "label label-text text-secondary"
    = f.rich_text_area :description
  .form-control.mt-3
    = f.label :notes, class: "label label-text text-secondary"
    = f.rich_text_area :notes

  .card-actions.mt-6.flex-row-reverse
    = f.submit "Save", class: "btn btn-sm btn-secondary"

    - case local_assigns[:action]
    - when :new
      = link_to "Cancel", root_path, class: "btn btn-sm btn-primary"
    - when :edit
      = link_to "Cancel", root_path, class: "btn btn-sm btn-primary"
      = link_to "Delete", @character, { method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-error" }
