.overflow-x-auto
  %table.w-full.mb-4.table.table-sm.xl:table-md.table-zebra.xl:mb-6
    %thead.uppercase
      %tr
        %th Player
        %th Fae Name
        %th Mortal Name
        %th Kith
        %th Seeming
        %th Rank
        %th Location
        %th Position
        %th= # Details
        %th= # Edit
    %tbody
      - @characters.each do |character|
        %tr.hover
          %td= character.player
          %td= character.fae_name
          %td= character.mortal_name
          %td= character.kith
          %td= character.seeming
          %td= character.rank
          %td= character.location
          %td= character.position
          %td= link_to "Details", character, class: "btn btn-sm btn-primary"
          %td= link_to "Edit", edit_character_path(character), class: "btn btn-sm btn-secondary"

.flex.flex-none.flex-col.gap-4.md:gap-0.md:flex-row.md:flex-row-reverse.md:justify-between
  %div
    = link_to "Add a New Character", new_character_path, class: "btn btn-sm xl:btn-md btn-accent"
  = paginate @characters
