.card.bg-base-300.shadow-xl.max-w-prose.mx-auto
  .card-body
    - %i[player fae_name mortal_name kith house bannerhouse seeming rank location position].each do |f|
      - if @character.send(f).present?
        %p
          %strong= "#{f.to_s.titlecase}:"
          = @character.send(f)

    - %i[description notes].each do |f|
      - if @character.send(f).body.present?
        .mt-3.w-full.border-b.border-current
          %strong= "#{f.to_s.titlecase}"
        .prose
          = @character.send(f)

    .card-actions.justify-end.mt-3
      = link_to "Edit", edit_character_path(@character), class: "btn btn-sm btn-secondary"
