trix-toolbar {
  .trix-button-group {
    @apply join border-none;
  }

  .trix-button {
    @apply btn btn-sm btn-secondary rounded-none join-item block border border-solid py-0 px-3;

    &:hover {
    }

    &:not(:first-child) {
    }

    &.trix-active {
      @apply border-secondary-focus bg-secondary-focus;
    }

    &:disabled {
      @apply btn-disabled bg-base-100 border-base-100 outline-base-100;

      &::before {
        @apply bg-base-content;
      }
    }

    &:not(:first-child) {
      border-left: inherit;
    }
  }

  .trix-button--icon {
    @apply w-8;

    &::before {
      @apply bg-secondary-content;
    }
  }

  .trix-button--icon-attach::before { @apply bg-none; mask: url(attach.svg) center no-repeat; top: 8%; bottom: 4%; }
  .trix-button--icon-bold::before { @apply bg-none; mask: url(bold.svg) center no-repeat; }
  .trix-button--icon-italic::before { @apply bg-none; mask: url(italic.svg) center no-repeat; }
  .trix-button--icon-link::before { @apply bg-none; mask: url(link.svg) center no-repeat; }
  .trix-button--icon-strike::before { @apply bg-none; mask: url(strike.svg) center no-repeat; }
  .trix-button--icon-quote::before { @apply bg-none; mask: url(quote.svg) center no-repeat; }
  .trix-button--icon-heading-1::before { @apply bg-none; mask: url(heading_1.svg) center no-repeat; }
  .trix-button--icon-code::before { @apply bg-none; mask: url(code.svg) center no-repeat; }
  .trix-button--icon-bullet-list::before { @apply bg-none; mask: url(bullets.svg) center no-repeat; }
  .trix-button--icon-number-list::before { @apply bg-none; mask: url(numbers.svg) center no-repeat; }
  .trix-button--icon-undo::before { @apply bg-none; mask: url(undo.svg) center no-repeat; }
  .trix-button--icon-redo::before { @apply bg-none; mask: url(redo.svg) center no-repeat; }
  .trix-button--icon-decrease-nesting-level::before { @apply bg-none; mask: url(nesting_level_decrease.svg) center no-repeat; }
  .trix-button--icon-increase-nesting-level::before { @apply bg-none; mask: url(nesting_level_increase.svg) center no-repeat; }

  .trix-dialog {
    @apply bg-base-200 shadow-md border border-base-300;
  }

  .trix-input--dialog {
    @apply bg-base-200 border border-base-300;
  }

  &.validate:invalid {
    @apply shadow-md shadow-error;
  }

  .trix-button--dialog {
    @apply border;
  }

}

trix-editor {
  @apply textarea textarea-bordered textarea-md h-auto min-h-[6rem];

  & ul {
    @apply list-disc pl-10;
  }

  & ol {
    @apply list-decimal pl-10;
  }
}

.trix-content {
  a[href] {
    @apply link link-secondary;
  }

  pre {
    @apply bg-base-200 text-base-content;
  }

  .attachment__caption {
    @apply text-base-content/60;
  }

  .attachment--preview {
    .attachment__caption {
      @apply text-base-content/60;
    }
  }

  .attachment--file {
    @apply text-base-content/40 border border-base-content/40;
  }

  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      @apply py-0 px-2 max-w-[33%];
      flex: 1 0 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        @apply basis-1/2 max-w-[50%];
      }
    }
  }
}
