= form_with url: rodauth.login_path, method: :post, data: { turbo: false }, class: "flex flex-col gap-3" do |form|
  - if rodauth.skip_login_field_on_login?
    .form-control
      = form.label "login", rodauth.login_label, class: "label label-text"
      = form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", readonly: true,
        class: "input input-bordered"
  - else
    .form-control
      = form.label "login", rodauth.login_label, class: "label label-text"
      = form.email_field rodauth.login_param, value: params[rodauth.login_param], placeholder: rodauth.login_label.capitalize,
        id: "login", autocomplete: rodauth.login_field_autocomplete_value, required: true,
        class: "input input-bordered #{"input-error" if rodauth.field_error(rodauth.login_param)}",
        aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param))
      - if rodauth.field_error(rodauth.login_param)
        %label.label
          %span.label-text-alt.text-error= rodauth.field_error(rodauth.login_param)

  - unless rodauth.skip_password_field_on_login?
    .form-control
      = form.label "password", rodauth.password_label, class: "label label-text"
      = form.password_field rodauth.password_param, value: "", placeholder: rodauth.password_label.capitalize,
        id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true,
        class: "input input-bordered #{"input-error" if rodauth.field_error(rodauth.password_param)}",
        aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param))
      - if rodauth.field_error(rodauth.password_param)
        %label.label
          %span.label-text-alt.text-error= rodauth.field_error(rodauth.password_param)

  .form-control.pt-6
    = form.submit rodauth.login_button, class: "btn"

