- unless rodauth.login_form_footer_links.empty?
  %ul.pt-3.flex.flex-col.gap-2
    - rodauth.login_form_footer_links.sort.each do |_, link, text|
      - unless link == "/#{rodauth.verify_account_resend_route}"
        %li= link_to text, link, class: "link-hover"
