.flex.flex-col.gap-3
  %h1.text-2xl
    Change Your Password

  = form_with url: rodauth.change_password_path, method: :post, data: { turbo: false }, class: "flex flex-col gap-3" do |form|
    - if rodauth.change_password_requires_password?
      .form-control
        = form.label "password", rodauth.password_label, class: "label label-text"
        = form.password_field rodauth.password_param, value: "", placeholder: rodauth.password_label.capitalize,
          id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true,
          class: "input input-bordered #{"input-error" if rodauth.field_error(rodauth.password_param)}",
          aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param))
        - if rodauth.field_error(rodauth.password_param)
          %label.label
            %span.label-text-alt.text-error= rodauth.field_error(rodauth.password_param)

    .form-control
      = form.label "new-password", rodauth.new_password_label, class: "label label-text"
      = form.password_field rodauth.new_password_param, value: "", placeholder: rodauth.new_password_label.capitalize,
        id: "new-password", autocomplete: "new-password", required: true,
        class: "input input-bordered #{"input-error" if rodauth.field_error(rodauth.new_password_param)}",
        aria: ({ invalid: true, describedby: "new-password_error_message" } if rodauth.field_error(rodauth.new_password_param))
      - if rodauth.field_error(rodauth.new_password_param)
        %label.label
          %span.label-text-alt.text-error= rodauth.field_error(rodauth.new_password_param)

    - if rodauth.require_password_confirmation?
      .form-control
        = form.label "password-confirm", rodauth.password_confirm_label, class: "label label-text"
        = form.password_field rodauth.password_confirm_param, value: "", placeholder: rodauth.password_confirm_label.capitalize,
          id: "password-confirm", autocomplete: "new-password", required: true,
          class: "input input-bordered #{"input-error" if rodauth.field_error(rodauth.password_confirm_param)}",
          aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth.field_error(rodauth.password_confirm_param))
        - if rodauth.field_error(rodauth.password_confirm_param)
          %label.label
            %span.label-text-alt.text-error= rodauth.field_error(rodauth.password_confirm_param)

    .form-control.pt-6
      = form.submit rodauth.change_password_button, class: "btn"
