.flex.flex-col.gap-3
  %h1.text-2xl
    Create an Account

  = form_with url: rodauth.create_account_path, method: :post, data: { turbo: false }, class: "flex flex-col gap-3" do |form|
    .form-control
      = form.label "login", rodauth.login_label, class: "label label-text"
      = form.email_field rodauth.login_param, value: params[rodauth.login_param], placeholder: rodauth.login_label.capitalize,
        id: "login", autocomplete: "email", required: true,
        class: "input input-bordered #{"input-error" if rodauth.field_error(rodauth.login_param)}",
        aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param))
      - if rodauth.field_error(rodauth.login_param)
        %label.label
          %span.label-text-alt.text-error= rodauth.field_error(rodauth.login_param)

    - if rodauth.require_login_confirmation?
      .form-control
        = form.label "login-confirm", rodauth.login_confirm_label, class: "label label-text"
        = form.email_field rodauth.login_confirm_param, value: params[rodauth.login_confirm_param], placeholder: rodauth.login_confirm_label.capitalize,
          id: "login-confirm", autocomplete: "email", required: true,
          class: "input input-bordered #{"input-error" if rodauth.field_error(rodauth.login_confirm_param)}",
          aria: ({ invalid: true, describedby: "login-confirm_error_message" } if rodauth.field_error(rodauth.login_confirm_param))
        - if rodauth.field_error(rodauth.login_confirm_param)
          %label.label
            %span.label-text-alt.text-error= rodauth.field_error(rodauth.login_confirm_param)

    - if rodauth.create_account_set_password?
      .form-control
        = form.label "password", rodauth.password_label, class: "label label-text"
        = form.password_field rodauth.password_param, value: "", placeholder: rodauth.password_label.capitalize,
          id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true,
          class: "input input-bordered #{"input-error" if rodauth.field_error(rodauth.password_param)}",
          aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param))
        - if rodauth.field_error(rodauth.password_param)
          %label.label
            %span.label-text-alt.text-error= rodauth.field_error(rodauth.password_param)

      - if rodauth.require_password_confirmation?
        .form-control
          = form.label "password-confirm", rodauth.password_confirm_label, class: "label label-text"
          = form.password_field rodauth.password_confirm_param, value: "", placeholder: rodauth.password_confirm_label.capitalize,
            id: "password-confirm", autocomplete: "new-password", required: true,
            class: "input input-bordered #{"input-error" if rodauth.field_error(rodauth.password_confirm_param)}",
            aria: ({ invalid: true, describedby: "password-confirm_error_message" } if rodauth.field_error(rodauth.password_confirm_param))
          - if rodauth.field_error(rodauth.password_confirm_param)
            %label.label
              %span.label-text-alt.text-error= rodauth.field_error(rodauth.password_confirm_param)

    .form-control.pt-6
      = form.submit rodauth.create_account_button, class: "btn"
