.flex.flex-col.gap-3
  %h1.text-2xl
    Sign Out

  = form_with url: rodauth.logout_path, method: :post, data: { turbo: false }, class: "flex flex-col gap-0" do |form|
    - if rodauth.features.include?(:active_sessions)
      .form-control
        = form.label "global-logout", class: "label cursor-pointer justify-start gap-3" do
          = content_tag :span, rodauth.global_logout_label
          = form.check_box rodauth.global_logout_param, id: "global-logout", class: "toggle", include_hidden: false

    .form-control.pt-6
      = form.submit rodauth.logout_button, class: "btn"
