.flex.flex-col.gap-3
  %h1.text-2xl
    Request Password Reset

  - if rodauth.reset_password_explanatory_text
    %p.pt-6
      != rodauth.reset_password_explanatory_text

  = form_with url: rodauth.reset_password_request_path, method: :post, data: { turbo: false }, class: "flex flex-col gap-3" do |form|
    - if params[rodauth.login_param] && !rodauth.field_error(rodauth.login_param)
      = form.hidden_field rodauth.login_param, value: params[rodauth.login_param]
    - else
      .form-control
        = form.label "login", rodauth.login_label, class: "label label-text"
        = form.email_field rodauth.login_param, value: params[rodauth.login_param], placeholder: rodauth.login_label.capitalize,
          id: "login", autocomplete: "email", required: true,
          class: "input input-bordered #{"input-error" if rodauth.field_error(rodauth.login_param)}",
          aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param))
        - if rodauth.field_error(rodauth.login_param)
          %label.label
            %span.label-text-alt.text-error= rodauth.field_error(rodauth.login_param)

    .form-control.pt-6
      = form.submit rodauth.reset_password_request_button, class: "btn"
