!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %title= @title || 'Dramatis Personae'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = vite_javascript_tag 'application'
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    = render(partial: 'shared/favicon')

  %body
    .w-full.mx-auto.lg:w-full.lg:container{class: "md:w-11/12"}
      = render(partial: 'shared/navbar')
      = render(partial: 'shared/alerts')
      = yield
