!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %title= @title || 'Dramatis Personae'
    = csrf_meta_tags
    = csp_meta_tag
    = vite_client_tag
    = vite_javascript_tag 'main'
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    = render(partial: 'shared/favicon')

  %body
    #app{data: { flash: { notice: notice,
                          alert: alert },
                 user: { email: (current_account.email if rodauth.logged_in?),
                         admin: ("true" if (rodauth.logged_in? && current_account.admin?)) },
                 query: (params[:q] if params.key?(:q)) }}
      = yield
